/FetchMessageCronjob/node_modules
/Mail Analyzer/node_modules
/MAilService/node_modules
/Mail Analyzer/email-analyzer-427913-33556e9d8c2e.json
/FetchMessageCronjob/auth.json
/FetchMessageCronjob/token.json
/MailService/token.json
